CCC

<form  [formGroup]="mainform" (ngSubmit)="save()">
<mat-horizontal-stepper >
    
<mat-step [stepControl]="mainform.controls['personalDetails']">
<ng-template matStepLabel>
Personal Details
</ng-template>
<div formGroupName="personalDetails">
    
    customerFirstName:
    <input type="text" formControlName="customerFirstName" placeholder="customerFirstName"><br><br>
    customerMiddleName:
    <input type="text" formControlName="customerMiddleName" placeholder="customerMiddleName"><br><br>
    customerLastName:
    <input type="text" formControlName="customerLastName" placeholder="customerLastName"><br><br>
    customerMobileNumber:
    <input type="number" formControlName="customerMobileNumber" placeholder="customerMobileNumber"><br><br>
    customerAdditionalMobileNumber:
    <input type="number" formControlName="customerAdditionalMobileNumber" placeholder="customerAdditionalMobileNumber"><br><br>
    customerPanCard:
    <input type="text" formControlName="customerPanCard" placeholder="customerPanCard"><br><br>
    customerAdhaarCard:
    <input type="text" formControlName="customerAdhaarCard" placeholder="customerAdhaarCard"><br><br>
    customerDateOfBirth:
    <input type="text" formControlName="customerDateOfBirth" placeholder="customerDateOfBirth"><br><br>
    customerEmail:
    <input type="text" formControlName="customerEmail" placeholder="customerEmail"><br><br>
    customerGender:
    <input type="text" formControlName="customerGender" placeholder="customerGender"><br><br>
    customerQualification:
    <input type="text" formControlName="customerQualification" placeholder="customerQualification"><br><br>
    <div>
        <button mat-button matStepperNext type="button">next</button>
    </div>

</div>

</mat-step>

     <mat-step formGroupName="addressDetails"[stepControl]="mainform.controls['personalDetails']">
        <div>
           
            <div>
                <button mat-button matStepperPrevious type="button">previous</button>
                <button mat-button matStepperNext type="button">next</button>
            </div>
        
        </div>
    </mat-step> -->
    <mat-step formGroupName="professionDetails"[stepControl]="mainform.controls['professionDetails']">
        <div>
            
           
            <div>
                <button mat-button matStepperPrevious type="button">previous</button>
                <button mat-button matStepperNext type="button">next</button>
            </div>
        
        </div>
    </mat-step>

     <mat-step formGroupName="alldocumentsDetails"[stepControl]="mainform.controls['alldocumentsDetails']">
        <div>
            
       
       addressProof: <input type="file" (change)="onselectfile1($event)">
       addharCard:<input type="file" (change)="onselectfile2($event)">
       bankPassbook:<input type="file" (change)="onselectfile3($event)">
       drivingLicense:<input type="file" (change)="onselectfile4($event)">
      
       incomeProof:<input type="file" (change)="onselectfile5($event)">
       panCard:<input type="file" (change)="onselectfile6($event)">
       photo:<input type="file" (change)="onselectfile7($event)">
       signature:<input type="file" (change)="onselectfile8($event)">
       thumb:<input type="file" (change)="onselectfile9($event)">
      
      
           
            
        </div>
        <div>
            <button mat-raised-button color="primary" matStepperPrevious type="button">Back</button> |
            <input type="submit" mat-raised-button color="accent" value="Submit">
        </div>
    </mat-step>
    
    

    
   
 
</mat-horizontal-stepper>
</form >
    <!-- <mat-step [stepControl]="dealerDetails">
        <form  [formGroup]="dealerDetails">
           
            <div>
                <button mat-button matStepperPrevious>previous</button>
                <button mat-button matStepperNext>next</button>
            </div>
        
        </form>
</mat-step>
<mat-step [stepControl]="dealerDetails">
    <form  [formGroup]="dealerDetails">
       
        <div>
            <button mat-button matStepperPrevious>previous</button>
            <button mat-button (click)="save()">Submitt</button>
        </div>
    
    </form> --> -->
<!-- </mat-step> --> -->


