<div class="div1">
    <p class="display-6 headingFont">Shree Ganesh Finance Car Loan</p>
  <p>
    Own your dream ride with car loans from Bank of Baroda. Get a car loan to
    purchase a vehicle of your choice. With our loans, you can buy a hatchback,
    sedan, MUV, SUV, sports car or a luxury car. Our auto loans are available to
    salaried employees, businessmen, professionals, corporates as well as NRIs
    and PIOs. We offer attractive interest rates on car loans with up to 90%
    financing, making our loans the ideal choice for funding your brand new car.
    Give a missed call: 846 700 1133
  </p>

  <nav>
    <img
      class="photo"
      src="https://img.freepik.com/free-vector/car-finance-concept-illustration_114360-8258.jpg?w=2000"
      alt="logo"
    />
  </nav>
</div>
