.photo {
  height: auto;
  max-width: 50%;
}

.p {
  text-align: right;
  text-justify: distribute-all-lines;
}
.div1 {
  background: -webkit-linear-gradient(left, #dafffd, #51f0e8);
}
.headingFont{
    padding-left: 150px;
    text-shadow: 0 0 2px white;
    text-align: center;
    
    }
