<nav class="navbar" >
 

</nav>
<table class="table table-striped">
<thead>
<th>customerId</th>
<th>customerFirstName</th>
<th>Rate of Interest</th>
<th>customerMobileNumber</th>
<th>STATUS</th>
<th>LOAN DISBURSEMENT</th>

</thead>

<tbody>

<tr *ngFor="let d of customerdata">
    <td>{{d.customerId}}</td>
    <td>{{d.customerFirstName}}</td>
    <td>{{d.customerSanctionLetter.rateOfInterest}}</td>
    <td>{{d.customerMobileNumber}}</td>
    <td>{{d.customerStatus}}</td>
    <td><button (click)="DisburseLoan(d.customerId)">Click</button>
    </td>
 
  
</tr>
</tbody>
</table>




