<nav class="navbar" >
 

</nav>
<table class="table table-striped">
<thead>
<th>customerId</th>
<th>customerFirstName</th>
<th>Rate of Interest</th>
<th>customerMobileNumber</th>
<th>STATUS</th>
<th>SANCTION SIGN BY CUSTOMER</th>
<th>SANCTION NOT SIGNING BY CUSTOMER</th>
</thead>

<tbody>

<tr *ngFor="let d of customerdata">
    <td>{{d.customerId}}</td>
    <td>{{d.customerFirstName}}</td>
    <td>{{d.customerSanctionLetter.rateOfInterest}}</td>
    <td>{{d.customerMobileNumber}}</td>
    <td>{{d.customerStatus}}</td>
    <td><button (click)="changecustomerstatusapprove(d.customerId,'SanctionLetterSignByCustomer')">Click</button></td>
    <td><button (click)="changecustomerstatusreject(d.customerId,'SanctionLetterNotSignByCustomer')">Click</button></td>
  
</tr>
</tbody>
</table>