/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

.divouter {
  background: -webkit-linear-gradient(left, #dafffd, #51f0e8);
}
.li1{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.39);

  
}
.linkmail{
color: #215191;

}
.headerclass{
 background-repeat: none;
  background-size: 100%;
  background: -webkit-linear-gradient(left, #31B4AE, #31B4AE);

}
.img {
  width: 100px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  padding-bottom: 10px;
}
// .container-fluid{


// }